header {
  .header-wrapper {
    background: var(--bg);
    //fica de sugestao
    // box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    // -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9997;

    @media screen and (max-width: 1024px) {
      height: 90px;
    }

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 1024px) {
        justify-content: center;
        padding: 0 15px;
        position: relative;
      }

      .header-logo {
        .link-logo {
          .logo {
            max-width: 384px;
            width: 100%;

            @media screen and (max-width: 1024px) {
              max-width: 228px;
            }
          }
        }
      }

      .header-menu-wrapper {
        @media screen and (max-width: 1024px) {
          display: none;
        }

        .header-menu {
          .menu {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 32px;

            .menu-item {
              .menu-container {
                .link {
                  text-decoration: none;
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 100%;
                  color: var(--color-primary);

                  &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: var(--color-primary);
                    border-radius: 8px;
                    transform: scaleX(0);
                    transition: transform 0.3s ease-in-out;
                  }

                  &:hover::after {
                    transform: scaleX(1);
                  }
                }
              }
            }
          }
        }
      }

      .header-actions {
        display: flex;
        align-items: center;
        gap: 10px;

        .lang-switcher-wrapper {
          display: block;
          width: 32px;
          height: 32px;

          @media screen and (max-width: 1024px) {
            display: none;
          }
        }

        // Dropdown de idiomas
        .lang-dropdown {
          position: relative;
          display: inline-block;

          @media screen and (max-width: 1024px) {
            display: none;
          }

          &-toggle {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
          }

          &-menu {
            position: absolute;
            top: 100%;
            right: -5px;
            margin: 1px 0 0;
            padding: 0.25em;
            list-style: none;
            background: var(--bg);
            border: 1px solid #ccc;
            border-radius: 4px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
            z-index: 100;

            li {
              margin: 0.25em 0;
            }

            a,
            img {
              display: block;
            }
          }

          &.open {
            .lang-dropdown-menu {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }
        }

        .header-button {
          @media screen and (max-width: 1024px) {
            display: none;
          }

          a {
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            line-height: 100%;
            color: var(--color-primary);
            padding: 12px 0;
            border: 2px solid var(--color-primary);
            border-radius: 30px;
            transition: all 0.3s ease-in-out;
            width: 216px;
            display: flex;
            justify-content: center;

            &:hover {
              background-color: var(--color-primary);
              color: var(--color-white);
            }
          }
        }

        .header-button-ld {
          @media screen and (max-width: 1024px) {
            display: none;
          }

          button {
            perspective: 600px;
            background: none;
            border: none;
            cursor: pointer;
            border: 2px solid var(--color-primary);
            border-radius: 50%;
            padding: 0;
            transition: all 0.3s ease-in-out;

            img {
              width: 48px;
              height: 48px;

              @media screen and (max-width: 768px) {
                width: 32px;
                height: 32px;
              }
            }
          }
        }

        .header-button-burger {
          position: absolute;
          right: 15px;

          .burger {
            display: none;
            position: relative;
            width: 32px;
            height: 24px;
            border: none;
            background: none;
            cursor: pointer;
            padding: 0;
            z-index: 100;

            @media screen and (max-width: 1024px) {
              display: inline-block;
            }

            .line {
              position: absolute;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: var(--color-primary);
              border-radius: 4px;
              transition: transform 0.4s ease, top 0.4s ease, opacity 0.4s ease;
            }

            .line1 {
              top: 0;
            }

            .line2 {
              top: 10px;
            }

            .line3 {
              top: 20px;
            }

            &.active {
              .line1 {
                top: 10px;
                transform: rotate(-45deg);
              }

              .line2 {
                opacity: 0;
                transform: scaleX(0);
              }

              .line3 {
                top: 10px;
                transform: rotate(45deg);
              }
            }
          }
        }

      }
    }
  }
}

.mobile-drawer {
  position: fixed;
  right: 15px;
  top: -100%;
  width: 100%;
  max-width: 201px;
  background: var(--bg);
  box-shadow: 0px 10px 20px var(--shadow);
  z-index: 9998;
  transition: top .5s ease;
  padding: 24px;
  border-radius: 27px;

  &.open {
    top: 90px;
  }

  .mobile-drawer-inner {
    display: flex;
    flex-direction: column;

    .mobile-drawer-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .mobile-menu {
        margin-bottom: 8px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin-bottom: 16px;

            a {
              text-decoration: none;
              font-size: 1.2rem;
              color: var(--color-primary);
              transition: color 0.3s;
            }
          }
        }
      }

      .mobile-drawer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
          .link-logo {
            .logo {
              max-width: 84px;
              width: 100%;
            }
          }
        }

        .mobile-drawer-header-actions {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          // Dropdown de idiomas
          .lang-dropdown {
            position: relative;
            display: inline-block;
            z-index: 9999;

            &-toggle {
              background: none;
              border: none;
              cursor: pointer;
              padding: 0;
            }

            &-menu {
              position: absolute;
              top: 100%;
              right: -5px;
              margin: 1px 0 0;
              padding: 0.25em;
              list-style: none;
              background: var(--bg);
              border: 1px solid #ccc;
              border-radius: 4px;
              opacity: 0;
              visibility: hidden;
              transform: translateY(-10px);
              transition: opacity 0.3s ease, transform 0.3s ease;
              z-index: 100;

              li {
                margin: 0.25em 0;
              }

              a,
              img {
                display: block;
              }
            }

            &.open {
              .lang-dropdown-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
              }
            }
          }

          .header-button-ld {
            button {
              background: none;
              cursor: pointer;
              border: 2px solid var(--color-primary);
              border-radius: 50%;
              width: 32px;
              height: 32px;
              padding: 0;

              img {
                width: 29px;
                height: 29px;
              }
            }
          }

          .mobile-drawer-close {
            .close-drawer {
              align-self: flex-end;
              font-size: 2rem;
              background: none;
              border: none;
              cursor: pointer;
              color: var(--color-primary);
            }
          }
        }
      }
    }

    .header-drawer-actions {
      .header-button {
        a {
          text-decoration: none;
          display: flex;
          justify-content: center;
          width: 100%;
          font-size: 16px;
          font-weight: 600;
          line-height: 100%;
          color: var(--color-primary);
          background: none;
          padding: 8px 0;
          border: 2px solid var(--color-primary);
          border-radius: 30px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: var(--color-primary);
            color: var(--color-white);
          }

          &.dark {
            background-color: var(--color-primary);
            color: var(--color-white);
          }
        }
      }
    }
  }
}

// Oculta o drawer em telas grandes
@media (min-width: 1025px) {
  .mobile-drawer {
    display: none;
  }
}