/* Tema Claro */
:root {
  // backgrounds
  --bg: #f8f0e3;
  --bg-black: #000;
  --bg-orange: #d86907;
  --bg-light-orange: #f99c15;
  --bg-light-brown: #e8e0d3;
  // colors
  --color-primary: #000;
  --color-secundary: #f8f0e3;
  --color-light-brown: #989084;
  // divider
  --divider: #989084;
  // shadow
  --shadow: rgba(0, 0, 0, 0.25);
  // border
  --border: #989084;
}

.dark {
  display: none;
}
body.light-mode .light {
  display: block;
}
body.light-mode .dark {
  display: none;
}

body.dark-mode {
  // backgrounds
  --bg: #000;
  --bg-black: #000;
  --bg-orange: #d86907;
  --bg-light-orange: #f99c15;
  --bg-light-brown: #e8e0d3;
  // colors
  --color-primary: #000;
  --color-secundary: ##f8f0e3;
  --color-light-brown: #989084;
  // divider
  --divider: #989084;
  // shadow
  --shadow: rgba(0, 0, 0, 0.25);
  // border
  --border: #989084;
}

body.dark-mode .dark {
  display: block;
}
body.dark-mode .light {
  display: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
}

body.dark-mode {
  background-color: var(--bg);
}

body.dark-mode .dark {
  display: block;
}

.dark {
  display: none;
}

body.dark-mode .light {
  display: none;
}

html {
  font-family: "Noka Trial", sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
