/* Tema Claro */
:root {
  --bg: #f8f0e3;
}

body.dark-mode {
  --bg: #f8f0e3;
}

body.light-mode .light {
  display: block;
}

body.light-mode .dark {
  display: none;
}

body {
  background-color: var(--bg);
}

body.dark-mode {
  background-color: var(--bg);
}

body.dark-mode .dark {
  display: block;
}

.dark {
  display: none;
}

body.dark-mode .light {
  display: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
