// -----------------------------------------
.portifolio {
  position: relative;
  z-index: 2;
  margin-top: 133px;


  @media screen and (max-width: 1024px) {
    margin-top: 90px;
  }

  .portifolio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 48px;

    @media screen and (max-width: 767px) and (max-width: 1024px) {
      padding-top: 36px;
    }

    .portifolio-header {
      margin-bottom: 48px;
      position: relative;
      width: 100%;

      @media screen and (max-width: 1024px) {
        margin-bottom: 36px;
      }

      .portifolio-title {
        margin: 0;
        font-weight: 500;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: var(--color-primary);

        @media screen and (max-width: 767px) {
          font-size: 24px;
        }
      }

      .portifolio-header-client-filter {
        position: absolute;
        top: 5px;
        right: 0;

        @media screen and (max-width: 1024px) {
          top: -2px;
          right: 15px;
        }

        .portifolio-header-client-filter-wrapper {
          position: relative;
          display: inline-block;

          .client-filter-toggle {
            width: 218px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: var(--bg-light-brown);
            color: var(--color-primary);
            padding: 12px 24px;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            position: relative;
            z-index: 11;

            @media screen and (max-width:1024px) {
              width: 30px;
              height: 30px;
              padding: 0;
            }

            .client-filter-current {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              @media screen and (max-width:1024px) {
                display: none;
              }
            }

            .client-filter-icon-mobile {
              display: none;
              justify-content: center;

              @media screen and (max-width:1024px) {
                display: flex;
              }

              .line {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: var(--color-primary);
                border-radius: 4px;
                transition: transform 0.4s ease, top 0.4s ease, opacity 0.4s ease;
              }

              .line1 {
                top: 8px;
                width: 18px;
              }

              .line2 {
                top: 13px;
                width: 12px;
              }

              .line3 {
                top: 18px;
                width: 8px;
              }
            }
          }

          .client-filter-list {
            position: absolute;
            top: 24px;
            left: 15px;
            list-style: none;
            padding: 18px 0 16px 0;
            margin: 0;
            width: 93%;
            z-index: 10;
            background: var(--bg);
            border-radius: 0 0 21px 21px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            overflow: hidden;

            // animação estilo mola
            transform-origin: top;
            transform: scaleY(0);
            opacity: 0;
            pointer-events: none;
            transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
              opacity 0.3s ease;

            @media screen and (max-width: 1024px) {
              left: unset;
              right: 2px;
              width: 180px;
              border-radius: 12px;
              top: 5px;
              padding: 16px 0 12px 0;
            }

            li {
              padding: 0.5em 1em;
              cursor: pointer;

              span {
                display: inline-block;

                &::after {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 2px;
                  background-color: var(--color-primary);
                  border-radius: 8px;
                  transform: scaleX(0);
                  transition: transform 0.3s ease-in-out;
                }

                &:hover::after,
                &.active::after {
                  transform: scaleX(1);
                }
              }

              &.active span::after {
                transform: scaleX(1);
              }
            }
          }

          &.open .client-filter-list {
            transform: scaleY(1);
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }

    .portifolio-terms {
      margin-bottom: 64px;

      .portifolio-terms-wrapper {
        display: flex;
        justify-content: center;

        .portifolio-terms-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 93%;

          @media screen and (max-width: 1024px) {
            width: unset;
          }

          .portifolio-terms-item {
            margin-left: 32px;
            margin-bottom: 16px;

            @media screen and (max-width: 1024px) {
              margin-left: 6px;
              margin-bottom: 12px;
            }

            &:first-child {
              margin-left: 0;
            }

            @media screen and (min-width: 1025px) {
              &:nth-child(n + 7) {
                margin-bottom: 0;
              }
            }

            @media screen and (max-width: 1024px) {
              &:nth-child(1) {
                order: 1;
              }

              &:nth-child(2) {
                order: 6;
              }

              &:nth-child(3) {
                order: 2;
              }

              &:nth-child(4) {
                order: 3;
              }

              &:nth-child(5) {
                order: 7;
              }

              &:nth-child(6) {
                order: 4;
              }

              &:nth-child(7) {
                order: 5;
              }

              &:nth-child(n + 8) {
                order: 8;
              }

              &:nth-child(n + 9) {
                margin-bottom: 0;
              }
            }


            .portifolio-terms-item-button {
              .btn-portifolio-terms {
                display: inline-block;
                padding: 12px 24px;
                font-size: 24px;
                font-weight: 500;
                line-height: 100%;
                color: var(--color-primary);
                background: var(--bg-light-brown);
                border: 2px solid var(--color-primary);
                border-radius: 30px;
                text-align: center;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                .btn-portifolio-terms-text {
                  display: block;
                }

                .btn-portifolio-terms-text-mobile {
                  display: none;
                }

                @media screen and (max-width: 1024px) {
                  padding: 8px 16px;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 100%;
                  letter-spacing: 0%;

                  .btn-portifolio-terms-text {
                    display: none;
                  }

                  .btn-portifolio-terms-text-mobile {
                    display: block;
                  }
                }

                &:hover {
                  background-color: var(--color-primary);
                  color: var(--color-white);
                }

                &.active-term {
                  background-color: var(--color-primary);
                  color: var(--color-white);
                }
              }
            }
          }
        }
      }
    }




  }
}

// -----------------------------------------
.portifolio-items {
  padding: 0 15px;

  .portfolio-items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
    margin-bottom: 64px;

    @media screen and (max-width:1024px) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 48px;
    }

    .loading-portfolio-items {
      grid-column: 1 / -1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 20px;
      width: 100%;

      .spinner {
        $size: 40px;
        width: $size;
        height: $size;
        border: 4px solid #ccc;
        border-top-color: #3f3b35; // Cor primária
        border-radius: 50%;
        animation: spin 0.8s linear infinite;
      }
    }

    .portfolio-item {
      width: 100%;
      position: relative;
      z-index: 1;

      .portifolio-img-highlight {
        width: 100%;
        overflow: hidden;

        picture,
        img {
          display: block;
          width: 100%;
          height: auto;
          max-width: 100%;
        }
      }

      .portifolio-btn-modal {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;

        button {
          background: none;
          border: 2px solid var(--color-primary);
          border-radius: 30px;
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          @media screen and (max-width:1024px) {
            width: 25px;
            height: 25px;
            padding: 0;

            img {
              width: 11px;
            }
          }

          @media screen and (max-width:400px) {
            width: 20px;
            height: 20px;
            border: 1px solid var(--color-primary);
            padding: 0;

            img {
              width: 11px;
            }
          }
        }
      }
    }
  }
}


// Animação do spinner
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}