// -----------------------------------------
.portifolio {
  position: relative;
  z-index: 2;
  margin-top: 133px;
  margin-bottom: 64px;
  @media screen and (max-width: 1024px) {
    margin-top: 100px;
    padding: 0 15px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 53px;
  }
  .portifolio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 767px) and (max-width: 1024px) {
      align-items: center;
    }
    @media screen and (max-width: 767px) {
      align-items: unset;
    }

    .portifolio-header {
      margin-bottom: 48px;
      .portifolio-title {
        margin: 0;
        font-weight: 500;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        @media screen and (max-width: 767px) {
          font-size: 32px;
        }
      }
    }

    .portifolio-terms {
      margin-bottom: 64px;
      .portifolio-terms-wrapper {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 767px) {
          display: block;
        }
        .portifolio-terms-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 93%;

          @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 95%;
          }
          @media screen and (max-width: 767px) {
            display: none;
          }

          .portifolio-terms-item {
            margin-left: 32px;
            margin-bottom: 16px;

            @media screen and (max-width: 1024px) {
              margin-left: 14px;
            }

            &:first-child {
              margin-left: 0;
            }
            &:nth-child(n + 7) {
              margin-bottom: 0;
            }
            .portifolio-terms-item-button {
              .btn-portifolio-terms {
                display: inline-block;
                padding: 12px 24px;
                font-size: 24px;
                font-weight: 500;
                line-height: 100%;
                color: var(--color-primary);
                border: 2px solid var(--color-primary);
                border-radius: 30px;
                text-align: center;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                @media screen and (max-width: 1024px) {
                  font-size: 16px;
                  padding: 8px 12px;
                }

                &:hover,
                &.active-term {
                  background-color: var(--color-primary);
                  color: var(--color-white);
                }
              }
            }
          }
        }

        .portifolio-terms-content-mobile {
          display: none;
          @media screen and (max-width: 767px) {
            display: block;
            .owl-item {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .portifolio-terms-item {
              .btn-portifolio-terms {
                display: inline-block;
                padding: 12px 24px;
                font-size: 24px;
                font-weight: 500;
                line-height: 100%;
                color: var(--color-primary);
                background: var(--bg-light-brown);
                border: 2px solid var(--color-primary);
                border-radius: 30px;
                text-align: center;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                @media screen and (max-width: 1024px) {
                  font-size: 16px;
                  padding: 8px 12px;
                }

                &:hover {
                  background-color: var(--color-primary);
                  color: var(--color-white);
                }
              }
            }
          }
        }
      }
    }

    .portfolio-items-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      width: 100%;

      .portfolio-item {
        width: 100%;
        position: relative;
        z-index: 1;

        .portifolio-img-highlight {
          width: 100%;
          overflow: hidden;

          picture,
          img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 100%;
          }
        }

        .portifolio-btn-modal {
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 2;
          button {
            background: none;
            border: 2px solid var(--color-primary);
            border-radius: 30px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
//
