//-----------------------------------
.quem-somos {
  margin-top: 133px;
  margin-bottom: 89px;
  padding-top: 69px;

  @media screen and (max-width: 1024px) {
    margin-top: 90px;
    padding: 0 15px;
  }

  .quem-somos-header {
    text-align: center;
    margin-bottom: 30px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 15px;
    }

    .quem-somos-header-title {
      font-weight: 900;
      font-size: 96px;
      line-height: 100%;
      letter-spacing: 0%;
      color: var(--color-primary);
      margin: 0;
      text-transform: uppercase;
    }
  }
}

//----------------------------------- 
.quem-faz-acontece-section {
  padding: 0 0 303px 0;
  position: relative;

  .quem-faz-acontece {
    background: var(--bg-light-brown);
    box-shadow: 0px -10px 40px 0px var(--shadow);
    border-radius: 56px;
    position: relative;
    z-index: 2;


    .quem-faz-acontece-wrapper {
      padding: 36px 0;

      .quem-faz-acontece-content {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 16px;
        margin-bottom: 24px;

        .quem-faz-acontece-image {
          picture {
            display: inline-block;
            height: 0;

            img {
              width: 185px;
            }
          }
        }

        .quem-faz-acontece-text {
          padding-bottom: 2px;

          p {
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 0%;
            text-align: justify;
            margin: 0;
            color: var(--color-primary-p);
          }
        }
      }

      .quem-faz-acontece-image-below {
        p {
          font-weight: 500;
          font-size: 20px;
          letter-spacing: 0%;
          text-align: justify;
          margin: 0;
          color: var(--color-primary-p);
        }
      }

      .container-who-make-it-happen-carousel {
        margin-top: 64px;

        .title-and-carousel {
          display: flex;
          justify-content: space-between;

          .img-title {
            margin-bottom: 36px;
          }

          .title-who-we-are-data {
            font-weight: 800;
            font-size: 64px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--color-primary);
            margin: 0;
          }
        }

        .container-below-image-carousel {
          .text-below-image-carousel {
            p {
              font-weight: 500;
              font-size: 20px;
              letter-spacing: 0%;
              text-align: justify;
              margin: 0;
              color: var(--color-primary-p);
            }
          }
        }
      }
    }
  }


  .container-bright-ideas {
    background: linear-gradient(86.75deg, #3A4554 0%, #97B1C9 100%);
    position: absolute;
    z-index: 1;
    padding: 168px 0;
    width: 100%;
    bottom: -64px;

    h1 {
      margin: 0;
      font-weight: 900;
      font-size: 96px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #F8F0E3;
      text-align: center;
    }
  }
}

//-----------------------------------